body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-family: Arial, sans-serif;
    padding-right: 200px;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  #registrationForm {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
  }
  
  h1 {
    padding-bottom: 700px;
    text-align: center;
    color: aliceblue;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #3498db;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background: #2980b9;
  }
  